@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: rgb(239, 239, 239);
  --secondary-color: rgb(19, 19, 19);
  --tertiary-color: rgb(93, 93, 93);
  --primary-accent-color: rgb(243, 243, 243);
}

html[data-theme="light"] {
  --primary-color: rgb(239, 239, 239);
  --secondary-color: rgb(19, 19, 19);
  --tertiary-color: rgb(93, 93, 93);
  --primary-accent-color: rgb(243, 243, 243);
}

html[data-theme="dark"] {
  --primary-color: rgb(19, 19, 19);
  --secondary-color: rgb(239, 239, 239);
  --tertiary-color: rgb(166, 166, 166);
  --primary-accent-color: rgb(27, 27, 27);
}

body {
  background-color: var(--primary-color);
}
